asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
coreschema==0.0.4
Django==5.2
django-cors-headers==4.7.0
django-extensions==4.1
djangorestframework==3.16.0
drf-yasg==1.21.10
idna==3.10
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
pydotplus==2.0.2
pyparsing==3.2.3
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
setuptools==80.7.1
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
uritemplate==4.1.1
urllib3==2.4.0
psycopg2-binary
